.button {
  &.Orange {
    background: $orange-3;
    font-family: $font-MontserratFont;
    color: $text-primary;
    text-transform: none;
    box-shadow: 0 2px 0 rgba(255, 135, 5, 0.1);
    font-size: 20px;
    line-height: 1.4;
    height: 40px;
    padding: 6px 16px;
    border-radius: 8px;

    &:hover {
      background: $orange-4;
    }

    &:disabled {
      opacity: 0.6;

      svg {
        color: $text-primary;
      }
    }
  }
}
