.greetingBlock {
  background-image: url('/bg/backgroundMain.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 400px;

  @include mobile {
    background-position: right;
    max-height: 400px;
  }

  .title {
    @extend %h1-title-desk;
  }

  .longLogo {
    margin-top: auto;

    @include tablet {
      width: 420px;
    }

    @include mobile {
      width: 320px;
    }
  }
}
