.greetingBlock {
  background-image: url('/bg/backgroundRecordAndCostText.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  position: relative;

  @include mobile {
    background-position: right;
    height: 400px;
  }

  .title {
    @extend %h1-title;
  }

  .longLogo {
    margin-top: auto;
    z-index: 1;

    @include tablet {
      width: 420px;
    }

    @include mobile {
      width: 320px;
    }
  }

  .soldersImg {
    position: absolute;
    bottom: 0;
    right: 0;
    height: auto;
    width: 880px;

    @include mobile {
      width: 420px;
    }
  }
}
