//@use './src/styles/variables' as *;

.mainMenu {
  z-index: 999;
  position: fixed;
  top: 0;
  background: $black-80-bg;
  height: 72px;
  display: flex;
  width: 100%;

  @include tablet {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 20px;
  }

  @include mobile {
    height: 48px;
  }

  .logoContainer {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;

    @include tablet {
      display: none;
    }

    &:hover {
      background: $black-bg;
    }
  }

  .logoContainerMob {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;

    @include desktop {
      display: none;
    }

    @include mobile {
      padding: 0 8px;

      img {
        width: 120px;
        height: 46px;
      }
    }
  }

  .phoneContainerMob {
    color: $orange-1;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-end;

    @include desktop {
      display: none;
    }

    @include mobile {
      font-size: 12px;

      span {
        display: none;
      }
    }

    .phoneIcon {
      @include mobile {
        font-size: 22px;
      }
    }
  }

  .menuContainerDesk {
    display: flex;

    @include tablet {
      display: none;
    }
  }

  .menuContainerMob {
    @include desktop {
      display: none;
    }
  }
}
