@use 'src/styles/variables' as *;
@use 'src/styles/mixins' as *;

%h1-title {
  color: $text-primary;
  text-shadow:
    rgb(236, 103, 24) -1px 0px,
    rgb(236, 103, 24) 0px 1px,
    rgb(236, 103, 24) 1px 0px,
    rgb(236, 103, 24) 0px -1px;
  letter-spacing: 4px;
  margin-bottom: 48px;
  line-height: 0.58;
  font-family: $font-CSFont;
  text-align: left;
  font-size: 96px;
  transition: all 0.2s ease-in-out;

  @include tablet {
    font-size: 68px;
  }

  @include mobile {
    font-size: 48px;
  }
}

%h2-title {
  color: $text-primary;
  text-shadow:
    rgb(236, 103, 24) -1px 0px,
    rgb(236, 103, 24) 0px 1px,
    rgb(236, 103, 24) 1px 0px,
    rgb(236, 103, 24) 0px -1px;
  letter-spacing: 4px;
  margin-bottom: 28px;
  line-height: 0.58;
  font-family: $font-CSFont;
  font-size: 48px;
  transition: all 0.2s ease-in-out;

  @include tablet {
    margin-bottom: 40px;
  }

  @include mobile {
    font-size: 32px;
    margin-bottom: 16px;
  }
}

%h3-title {
  color: $orange-3;
  text-shadow:
    black -1px 0px,
    black 0px 1px,
    black 1px 0px,
    black 0px -1px;
  letter-spacing: 4px;
  line-height: 0.58;
  font-family: $font-CSFont;
  transition: all 0.2s ease-in-out;
  font-weight: 600;
  font-size: 42px;

  @include tablet {
  }

  @include mobile {
    font-size: 32px;
  }
}

%description-desk {
  font-size: 20px;
  color: $text-primary;
  font-family: $font-MontserratFont;
  transition: all 0.2s ease-in-out;

  @include tablet {
    font-size: 18px;
  }

  @include mobile {
    font-size: 14px;
  }
}
