.modalImage {
  :global(.MuiPaper-root) {
    max-width: calc(100% - 48px);
    max-height: calc(100% - 48px);
    width: 100%;
    height: 100%;

    @include mobile {
      max-width: calc(100% - 24px);
      max-height: calc(100% - 24px);
    }
  }

  .closeBtn {
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1;

    .closeIcon {
      color: $orange-1;
      font-size: 30px;
    }
  }

  .image {
    object-fit: contain;
  }
}
