.mainLayout {
  height: 100%;

  .content {
    //padding-left: 222px;
    > div:first-of-type {
      padding-left: 220px;
    }

    @include tablet {
      padding: 0;
      margin-top: 72px;
      height: calc(100vh - 72px);

      > div:first-of-type {
        padding-left: inherit;
      }
    }
  }
}
