.infoBlock {
  background-image: url('/bg/backgroundInfo.jpg');
  background-position: center; /* центрирует картинку (по желанию) */
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;

  @include tablet {
    height: 720px;
  }

  .blockContainer {
    display: flex;
    gap: 48px;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      gap: 24px;
    }

    .leftBlock {
      @include tablet {
        order: 1;
        display: flex;
        justify-content: center;
      }
    }

    .rightBlock {
      .title {
        @extend %h1-title-desk;
        transition: all 0.2s ease-in-out;
      }

      .description {
        @extend %description-desk;
        transition: all 0.2s ease-in-out;

        p {
          margin: 20px 0;

          @include tablet {
            margin: 12px 0;
          }
        }
      }
    }
  }
}
