.recordPageView {
  background-image: url('/bg/backgroundRecordAndCostText.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 72px);

  @include tablet {
    min-height: calc(100vh - 48px);
  }

  .title {
    @extend %h1-title;
    text-align: center;
  }

  .content {
    margin-top: 60px;
    height: calc(100% - 60px);
    display: flex;
    justify-content: center;

    @include mobile {
      margin-top: 0;
    }

    .recordCardsContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 32px;

      @include mobile {
        grid-template-columns: 1fr;
        gap: 48px;
      }

      .recordCardBlock {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
